.Header{
    display:inline-flex;
    justify-content: space-between;
    background:linear-gradient(to right, white,#A8D2ED);
    width:100%;
    padding: 0.3% 1% 0.3% 2%;
    border-bottom:2px solid rgb(204, 198, 198);
}
.Header-Logo{
    width:10%;
    height: 5%;
    margin-top:0.5%;
}
.Header-SearchBar{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

