.Product-Details{
    padding:0.3%;
  }
.Details-Border{
    border:solid 2px rgb(101, 103, 160);
    min-height: 98vh;
}

.Product-Details-Link{
    display:flex;
    justify-content:flex-start;
    padding: 0.5% 0 0.5% 2%;
    border-bottom:2px solid rgb(204, 198, 198);                                                                    
}
.Details-Title{
    display: flex;
    /* justify-content: space-between; */
}
.Details-Image{
    width:5%;
    height:3%;
    margin-left:0.5%;
}
.Title-Name{
    color:rgb(6, 60, 161);
    font-size: 1.5em;
    font-weight: 600;
    margin-left:2%;
    margin-top:1%;
}
.Title-Desc{
    margin-left:2%;
    margin-top:1.4%;
    color:rgb(190, 14, 14);
}
.Details-Title-Btn{
    width:20%;
    padding-top:1%;
    background-color: white;
    position:relative !important;
    top:20% !important;
    left:33% !important;
    /* right:-31% !important; */
}
.Type-Header{
    background-color: rgb(243, 243, 243);  
    border:2px solid rgb(204, 198, 198);  
    display: flex;
}
.Type-Header-Name{
    width:15%;
    border-right: 2px solid rgb(204, 198, 198);  
    color:black;
}
.Type-Header a{
    text-decoration: none;
    color: black;
}
.Type-Header a:hover, .Type-Header a:active,
.Type-Header a.active {
    color:white;
    background-color: rgb(107, 106, 104);
    text-decoration: none;
}


.Details-Content{
    overflow: scroll;
}

